* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Container Customization Style Start  */
header {
  background-color: #264653;
  height: 698px;
}

.button-color {
  background-color: #e76f51;
}
.text-color {
  color: #e76f51;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
